<title>
    存款单</title>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a>
            <cite>存款单</cite>
        </a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-form">
        <div class="layui-inline">
            <input id="allTime" type="text" readonly placeholder="申请时间区间" class="layui-input" style="width: 270px;" />
        </div>
        <div class="layui-inline">
            <select id="withdrawType">
                <option value="">存款货币类型</option>
                <option value="BTC">比特币（BTC）</option>
                <option value="EOS">柚子币（EOS）</option>
                <option value="ETH">以太币（ETH）</option>
                <option value="XRP">瑞波币（XRP）</option>
                <option value="LTC">莱特币（LTC）</option>
                <option value="QTVM">量子币（QTVM）</option>
            </select>
        </div>
        <div class="layui-inline">
            <select id="withdrawStatus">
                <option value="">存款状态</option>
                <option value="0">等待支付</option>
                <option value="1">支付成功</option>
                <option value="2">存款成功</option>
                <option value="-2">存款失败</option>
            </select>
        </div>
        <div class="layui-inline">
            <input id="keyword" type="text" placeholder="存款单号/存款用户" class="layui-input" style="width: 270px;" />
        </div>
        <div class="layui-inline">
            <button id="search" class="layui-btn"><i class="layui-icon">&#xe615;</i>查询</button>
        </div>
    </div>
    <table class="layui-hide" id="datalist"></table>
</div>
<script type="text/html" id="operateBar">
    <a class="layui-btn layui-btn-xs" style="width: 50px;" lay-event="audit">审核</a>
</script>
<script>
layui.use(['admin', 'table', 'laydate', 'common'], function() {
    var $ = layui.$,
        setter = layui.setter,
        admin = layui.admin,
        element = layui.element,
        laydate = layui.laydate,
        table = layui.table,
        form = layui.form,
        common = layui.common,
        router = layui.router();
    element.render();

    form.render();
    common.dtimeInit('#allTime');
    common.getList({
        elem: '#datalist',
        url: '/member/member-record',
        param: {
            record: '0'
        },
        cols: [
            [{
                field: 'time',
                minWidth: 150,
                title: '申请时间',
            }, {
                field: 'number',
                minWidth: 180,
                title: '存款单号',
            }, {
                field: 'name',
                minWidth: 120,
                title: '存款用户',
            }, {
                field: 'money',
                minWidth: 120,
                title: '存款金额(点)',
            }, {
                field: 'type',
                minWidth: 100,
                title: '存款类型',
                // templet: function(data) {
                //     var types = '-';
                //     $.each(config.coin, function(i, item) {
                //         if (item.value == data.type) {
                //             types = item.name;
                //             return false;
                //         }
                //     });
                //     return types;
                // }
                templet: function(data) {
                    var st = '';
                    switch (data.type) {
                        case 'BTC':
                            st = '比特币';
                            break;
                        case 'EOS':
                            st = '柚子币';
                            break;
                        case 'ETH':
                            st = '以太币';
                            break;
                        case 'XRP':
                            st = '瑞波币';
                            break;
                        case 'LTC':
                            st = '莱特币';
                            break;
                        case 'QTUM':
                            st = '量子币';
                            break;
                        default:
                            st = '-';
                    }
                    return st;
                }
            }, {
                field: 'state',
                minWidth: 120,
                title: '状态',
                templet: function(data) {
                    var st = '';
                    switch (data.state) {
                        case '0':
                            st = '等待支付';
                            break;
                        case '1':
                            st = '支付成功';
                            break;
                        case '2':
                            st = '存款成功';
                            break;
                        case '-2':
                            st = '存款失败';
                            break;
                        default:
                            st = '-';
                    }
                    return st;
                }
            }, {
                field: 'resultRemark',
                title: '审核建议',
            }, {
                title: '操作',
                fixed: 'right',
                width: 80,
                align: 'center',
                toolbar: '#operateBar'
            }]
        ],
    });

    $('#search').click(function() {
        var allTime = $('#allTime').val().split(' 至 '),
            withdrawType = $('#withdrawType').val(),
            withdrawStatus = $('#withdrawStatus').val(),
            keyword = $('#keyword').val(),
            param = {
                record: '0',
                beginTime: allTime[0] || "",
                endTime: allTime[1] || "",
                state: withdrawStatus,
                type: withdrawType,
                keyword: keyword
            };
        table.reload('idAllTable', {
            where: param
        });
    });
});
</script>
