<title>
    取款单</title>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a>
            <cite>取款单</cite>
        </a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-form">
        <div class="layui-inline">
            <input id="allTime" type="text" readonly placeholder="申请时间区间" class="layui-input" style="width: 270px;" />
        </div>
        <div class="layui-inline">
            <select id="withdrawStatus">
                <option value="">取款状态</option>
                <option value="0">等待处理</option>
                <option value="1">等待支付</option>
                <option value="2">支付完成</option>
                <option value="-2">审批拒绝</option>
            </select>
        </div>
        <div class="layui-inline">
            <input id="keyword" type="text" placeholder="取款单号/取款用户" class="layui-input" style="width: 270px;" />
        </div>
        <div class="layui-inline">
            <button id="search" class="layui-btn"><i class="layui-icon">&#xe615;</i>查询</button>
        </div>
    </div>
    <table class="layui-hide" id="datalist"></table>
</div>
<script type="text/html" id="operateBar">
    <a class="layui-btn layui-btn-xs" style="width: 50px;" lay-event="audit">审核</a>
</script>
<script>
layui.use(['admin', 'table', 'laydate', 'common'], function() {
    var $ = layui.$,
        admin = layui.admin,
        element = layui.element,
        laydate = layui.laydate,
        table = layui.table,
        common = layui.common,
        form = layui.form,
        router = layui.router();
    element.render();

    form.render();
    common.dtimeInit('#allTime');
    common.getList({
        elem: '#datalist',
        url: '/member/member-record',
        param: {
            record: '1'
        },
        cols: [
            [{
                field: 'time',
                minWidth: 150,
                title: '申请时间',
            }, {
                field: 'number',
                minWidth: 180,
                title: '取款单号',
            }, {
                field: 'name',
                minWidth: 120,
                title: '取款用户',
            }, {
                field: 'money',
                title: '取款金额(点)',
            }, {
                field: 'currencyCount',
                title: '取款币额(个)',
            }, {
                field: 'moneyAddress',
                minWidth: 260,
                title: '钱包地址',
            }, {
                field: 'state',
                title: '状态',
                templet: function(data) {
                    var st = '';
                    switch (data.state) {
                        case '0':
                            st = '等待处理';
                            break;
                        case '1':
                            st = '等待支付';
                            break;
                        case '2':
                            st = '取款成功';
                            break;
                        case '-2':
                            st = '取款失败';
                            break;
                        default:
                            st = '-';
                    }
                    return st;
                }
            }, {
                field: 'remark',
                title: '备注',
            }, {
                field: 'resultRemark',
                title: '审核建议',
            }, {
                title: '操作',
                fixed: 'right',
                width: 80,
                align: 'center',
                toolbar: '#operateBar'
            }]
        ],
    });

    $('#search').click(function() {
        var allTime = $('#allTime').val().split(' 至 '),
            withdrawStatus = $('#withdrawStatus').val(),
            keyword = $('#keyword').val(),
            param = {
                record: '1',
                beginTime: allTime[0] || "",
                endTime: allTime[1] || "",
                state: withdrawStatus,
                keyword: keyword
            };
        table.reload('idAllTable', {
            where: param
        });
    });
});
</script>
