.to_login_register {
    border: 1px solid #FF4100;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
}

.login-btn {
    background-color: transparent;
    color: #FF4100;
}

.register-btn {
    background-color: #FF4100;
    color: #fff;
}

.car-item > div {
    background: url(../img/lottery_banner1.png) no-repeat 100%;
}

.car-item > div:nth-of-type(1) {
    background: url(../img/football_banner1.png) no-repeat 100%;
}

.car-item > div:nth-of-type(2) {
    background: url(../img/basketball_banner1.png) no-repeat 100%;
}

.iconbtnbox {
    margin: 5px 0 10px;
    background-color: #fff;
    text-align: center;
}

.iconbtnbox a {
    padding: 5px 0;
    color: #55402F;
    display: block;
}

.iconbtnbox i {
    font-size: 45px;
    margin-bottom: 5px;
}

.ft i {
    color: #FF5300;
}

.bk i {
    color: #B52EBC;
}

.lt i {
    color: #4738C9;
}

.notice {
    position: relative;
    margin: 10px;
    padding-left: 10px;
    background-color: #fff;
    border-radius: 20px;
    line-height: 30px;
}

.notice .notice-name {
    font-size: 14px;
    vertical-align: middle;
    color: #EF473A;
}

.notice .more {
    position: absolute;
    top: 0;
    right: 10px;
}

.notice-con {
    height: 30px;
    line-height: 30px;
    padding: 0 45px 0 10px;
    overflow: hidden;
}

.notice-con li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: .8
}

.latest-offers {
    background-color: #BDDDC2;
    text-align: center;
    padding: 5px;
}
