body {
    position: relative;
    background-color: #f0f3f4;
    overflow: hidden;
    height: 100%;
    font-size: 16px;
}

body,
img,
ul,
ol,
li,
dl,
dt,
dd,
form,
input,
button,
tt,
select,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: 0;
    font-family: "Microsoft YaHei";
}

@media screen and (min-width:320px) {
    html {
        font-size: 21.33px
    }
    body {
        font-size: 12px
    }
}

@media screen and (min-width:360px) {
    html {
        font-size: 24px
    }
    body {
        font-size: 12px
    }
}

@media screen and (min-width:375px) {
    html {
        font-size: 25px
    }
    body {
        font-size: 12px
    }
}

@media screen and (min-width:384px) {
    html {
        font-size: 25.6px
    }
    body {
        font-size: 14px
    }
}

@media screen and (min-width:400px) {
    html {
        font-size: 26.67px
    }
    body {
        font-size: 14px
    }
}

@media screen and (min-width:414px) {
    html {
        font-size: 27.6px
    }
    body {
        font-size: 14px
    }
}

@media screen and (min-width:424px) {
    html {
        font-size: 28.27px
    }
    body {
        font-size: 14px
    }
}

@media screen and (min-width:480px) {
    html {
        font-size: 32px
    }
    body {
        font-size: 15.36px
    }
}

@media screen and (min-width:540px) {
    html {
        font-size: 36px
    }
    body {
        font-size: 17.28px
    }
}

@media screen and (min-width:720px) {
    html {
        font-size: 48px
    }
    body {
        font-size: 23.04px
    }
}

@media screen and (min-width:750px) {
    html {
        font-size: 50px
    }
    body {
        font-size: 24px
    }
}

button {
    line-height: 34px;
    height: 34px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
}

p {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-underline {
    text-decoration: underline;
}

.vertical-middle {
    vertical-align: middle;
}

.font-bold {
    font-weight: bold;
}

.disabled {
    background-color: rgb(235, 235, 228);
}

.hide {
    display: none;
}

.curp {
    cursor: pointer;
}

.vish {
    visibility: hidden;
}

.mT10 {
    margin-top: 10px;
}

.mL5 {
    margin-left: 5px;
}

.mL10 {
    margin-left: 10px;
}

.mR5 {
    margin-right: 5px;
}

.mR10 {
    margin-right: 10px;
}

.mB5 {
    margin-bottom: 5px;
}

.mB10 {
    margin-bottom: 10px;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f24 {
    font-size: 24px;
}

.f26 {
    font-size: 26px;
}

.f30 {
    font-size: 30px;
}

.f20_ {
    font-size: 20px !important;
}

.f22_ {
    font-size: 22px !important;
}

.f24_ {
    font-size: 24px !important;
}

.f26_ {
    font-size: 26px !important;
}

.firsthand {
    color: #D8D8D8;
}

.primary {
    color: #009688;
}

.normal {
    color: #1E9FFF;
}

.danger {
    color: #FF1A1A;
}

.warning {
    color: #FF5722;
}

.bfirsthand {
    background-color: #D8D8D8;
}

.bprimary {
    background-color: #009688;
}

.bnormal {
    background-color: #1E9FFF;
}

.bdanger {
    background-color: #FF1A1A;
}

.bwarning {
    background-color: #FF5722;
    /*#FFB800*/
}

.bradius5 {
    border-radius: 5px;
}

a {
    color: #333;
    text-decoration: none;
}

a:active,
a:hover,
a:focus {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}


/*顶部导航栏*/

.navTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #DBCCC5;
    color: #55402F;
    /*height: 44px;*/
    line-height: 44px;
    font-size: 16px;
    z-index: 9999;
}

.leftBtn,
.rightBtn {
    position: absolute;
    top: 5px;
    line-height: 34px;
}

.leftBtn i,
.rightBtn i {
    font-size: 30px;
}

.leftBtn {
    left: 15px;
}

.rightBtn {
    right: 15px;
}

.navTop .ctitle {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ctitle > * {
    vertical-align: middle;
}

.navBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #55402F;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-top: 1px solid #DBCCC5;
    background-color: #E8DED9;
    z-index: 9999;
}

.navBottom .items {
    width: 32%;
    vertical-align: middle;
    padding: 2px 0;
    display: inline-block;
}

.navBottom .items.active {
    color: #FD6146;
}

.navBottom .iconfont {
    display: block;
    font-size: 22px;
    line-height: 24px;
}

.navBottom .icon-name {
    display: block;
    line-height: 16px;
}

.navBottom .icon-jiahao {
    font-size: 50px;
    font-weight: bold;
    line-height: 40px;
    color: #FF874D;
}

.acontainer {
    position: relative;
    border-top: none;
    height: 100%;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.navTop + .acontainer {
    border-top: 47px solid transparent;
    height: calc(100% - 47px);
}


/*滚动条*/

::-webkit-scrollbar-track {
    background-color: #F5F5F5
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #999
}

.footer {
    /*position: absolute;
    left: 0;
    bottom: 0;*/
    text-align: center;
    color: #999;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

.footer a {
    color: #999;
}

.vessel {
    /*position: relative;*/
    position: fixed;
    color: #55402F;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /*overflow: hidden;*/
}

.vessel.hasBottom {
    bottom: 50px;
}

.vessel.hasFooter {
    bottom: 40px;
}

.vessel.hasBottom.hasFooter {
    bottom: 90px;
}


/*咨询框*/

#nb_icon_wrap {
    display: none !important;
}


/*列表卡*/

.list_card {
    margin-top: 10px;
    line-height: 40px;
    background-color: #fff;
}

.list_card > .each_card:last-child {
    border-bottom: 1px solid #DDDDDD;
}

.each_card {
    display: block;
    color: #55402F;
    border-top: 1px solid #DDDDDD;
    padding: 0 10px;
}

.each_card * {
    display: inline-block;
    vertical-align: middle;
    /*font-size: 18px;*/
    /*line-height: 40px;*/
}

.each_card .icon-more {
    float: right;
}


/*输入框组合*/

.input_box {
    position: relative;
    line-height: 40px;
    margin: 0 20px 10px;
}

.input_box input {
    width: 100%;
    line-height: 40px;
    border: 1px solid #C8C8C8;
    border-radius: 5px;
    padding: 0 60px 0 45px;
    /*font-size: 16px;*/
    font-size: 14px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.input_box textarea {
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    line-height: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.input_box button {
    width: 100%;
    color: #fff;
    /*background-color: #FF1A1A;*/
}

.input_div {
    position: relative;
}

.input_box > i,
.input_div > i {
    position: absolute;
    top: 0;
    /*margin: 8px 0;*/
    padding: 0 8px;
    /*line-height: 26px;*/
    line-height: 42px;
    font-size: 20px;
}

.input_box .begin_icon {
    left: 0;
    border-right: 1px solid #DDD5C4;
    z-index: 10;
}

.input_box .clear_all.onlys,
.input_box .eyes,
.input_box .normal_icon {
    right: 0;
}

.input_box .clear_all {
    right: 26px;
    font-size: 18px;
}

.about_tip {
    line-height: 20px;
    margin: 0 20px 10px;
    vertical-align: middle;
}

.total_tip {
    line-height: 20px;
    padding-left: 5px;
    vertical-align: middle;
}

.warning-tip {
    line-height: 20px;
    padding: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #d1601a;
    border: 1px dashed #d1601a;
}

.smile {
    color: #37A4E1;
}

.cry {
    color: #be4822;
}

.smile:before {
    content: "\e6af";
}

.cry:before {
    content: "\e69c";
}

.tip_text:before {
    font-family: "iconfont" !important;
    font-size: 14px;
    margin-right: 5px;
    vertical-align: middle;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.deposit-m {
    border: 1px solid #be4822 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(190, 72, 34, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(190, 72, 34, 0.6);
}

.input_box .i_text {
    font-style: normal;
    padding: 0 5px;
    font-size: 14px;
}

i.i_text:before {
    font-size: 18px;
    margin-right: 5px;
    vertical-align: inherit;
    /*color: #E97936;*/
}

.input_box input.pl0r100 {
    padding: 0 0 0 100px;
}

.input_box input.plr10 {
    padding: 0 10px;
}

.input_box .title_text {
    display: block;
    line-height: 20px;
}

.pdr50 {
    padding-right: 50px !important;
}

.top20 {
    top: 20px;
}

.copy_btn {
    width: 50px !important;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 42px;
    line-height: 42px;
    background-color: #FF1A1A;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/*底部选择弹框*/

.bottom_choose {
    position: relative;
    line-height: 35px;
    text-align: center;
}

.bottom_choose > label:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 8px;
}

.bottom_choose > label:nth-of-type(2) {
    margin: 0 50px;
    display: block;
}

.bottom_choose > label:nth-of-type(3) {
    position: absolute;
    top: 0;
    right: 8px;
}

.li_list {
    position: relative;
    background-color: #f2f2f2;
}

.li_list ul {
    overflow: scroll;
    /*height: 170px;*/
}

.li_list li {
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #D8D8D8;
}

.li_list li.chosed {
    color: #fff;
    background-color: #1E9FFF;
}

.li_list li:last-of-type {
    border-bottom: 1px solid #D8D8D8;
}


/*重写layer弹框*/

.layer_edit {
    border: none;
    background-color: #393D49 !important;
    color: #fff;
    font-size: 18px !important;
}

.layer_edit .layui-m-layercont {
    padding: 40px 20px !important;
}

.layer_edit .layui-m-layerbtn span[no] {
    color: #000;
}


/*主要事务提示框*/

.best_imp_tip .layui-m-layercont {
    padding: 0;
}

.content_tip {
    line-height: 40px;
    background-color: #009F95;
    text-align: left;
    color: #fff;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content_content {
    padding: 10px;
    text-align: left;
}

.transfer {
    color: #009F95;
    font-weight: bold;
    font-size: 16px;
}

.transfers {
    color: #BE4822;
    font-weight: bold;
}

.bottom_btns {
    text-align: right;
    margin: 0 15px 10px 0;
}

.bottom_btns button {
    width: 70px;
    line-height: 28px;
    height: 28px;
    color: #fff;
    background-color: #009f95;
    border: 1px solid #009f95;
}


/*tab单页切换*/

.pagenavi {
    text-align: left;
    background: #f3f3f3;
    height: 38px;
    line-height: 38px;
    width: 100%;
    display: -webkit-box;
    padding-bottom: 3px;
}

.pagenavi li {
    position: relative;
    -webkit-box-flex: 1;
    font-size: 18px;
    display: block;
    color: #000;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.pagenavi li a,
.pagenavi1 li a {
    color: #000;
    display: inline-block;
    height: 38px;
    padding: 0 5px;
}

.pagenavi a.active,
.pagenavi1 a.active {
    color: #f00;
    border-bottom: 2px solid #f00;
}


/*滚动导航*/

.pagenavi1 {
    padding: 0 5px;
    border-left: 3px solid #55402F;
    border-right: 3px solid #55402F;
}

.pagenavi1 ul {
    position: relative;
    height: 40px;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.pagenavi1 li {
    position: relative;
    /*width: 30%;*/
    width: 100px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
}


/*浏览器判断*/

#browser-redirect {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999999999999;
}

#browser-redirect img {
    display: block;
    margin: 0 auto;
}


/*无数据样式*/

.nodatas {
    margin: 120px auto 0;
    display: block;
    text-align: center;
}


/*底线*/

.baseline {
    line-height: 25px;
    text-align: center;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #e6e6e6;
    margin: 10px 15% 0;
}

.baseline legend {
    margin-left: 20px;
    padding: 0 15px;
    font-weight: 300;
}

.i_nodatas {
    font-size: 160px;
    margin: 120px auto;
    display: block;
    color: #62BFE3;
    text-align: center;
}

.filtrate_btn {
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
}

.list_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    overflow-y: scroll;
}

.list_box {
    margin-bottom: 15px;
    background-color: #fff;
}

.each_box {
    position: relative;
    margin: 15px 15px 0;
    line-height: 28px;
    padding: 0 5px 0 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/*筛选右侧弹框*/

.filtrate {
    position: fixed;
    top: 0;
    right: -101%;
    background-color: #fff;
    width: 70%;
    height: 100%;
    z-index: 99990;
}

.filtrate_modal {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    z-index: 99980;
    display: none;
}

.fi_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    display: none;
    overflow: scroll;
}

.fi_container.activate {
    display: block;
}

.fi_title {
    padding-left: 15px;
    height: 30px;
    line-height: 30px;
    color: #8A8A8A;
    background-color: #f2f2f2;
}

.fi_types {
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.fi_types p {
    margin-left: 5%;
    height: 35px;
    line-height: 35px;
}

.fi_types .i_inputs {
    position: relative;
}

.i_inputs i {
    position: absolute;
    top: 0;
    right: 18px;
    line-height: 30px;
    /*color: #B2B9C4;*/
    color: #fff;
}

.fi_types input {
    width: 90%;
    /*height: 30px;*/
    line-height: 30px;
    margin-left: 5%;
    padding: 0 30px 0 8px;
    border-radius: 2px;
    background-color: #E6E3E3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.fi_types .options {
    padding-left: 4%;
}

.fi_types .options label {
    display: inline-block;
    width: 30%;
    margin-left: 1%;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #E6E3E3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.fi_types .options label.active {
    background-color: #FCC192;
    color: #fff;
}

.bottom_btn_reset_submit {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    line-height: 80px;
    text-align: right;
    padding-right: 4%;
}

.bottom_btn_reset_submit button {
    border-radius: 0;
    width: 90px;
    text-align: center;
    color: #fff;
}

.bottom_btn_reset_submit .btn_reset {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: -webkit-linear-gradient(left, #EEF280, #F09210);
    background: -o-linear-gradient(left, #EEF280, #F09210);
    background: -moz-linear-gradient(left, #EEF280, #F09210);
    background: -mos-linear-gradient(left, #EEF280, #F09210);
    background: linear-gradient(left, #EEF280, #F09210);
}

.bottom_btn_reset_submit .btn_submit {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: -webkit-linear-gradient(left, #F0924C, #F45E46);
    background: -o-linear-gradient(left, #F0924C, #F45E46);
    background: -moz-linear-gradient(left, #F0924C, #F45E46);
    background: -mos-linear-gradient(left, #F0924C, #F45E46);
    background: linear-gradient(left, #F0924C, #F45E46);
}


/*标签，徽章*/

.biaoqian {
    width: auto;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #D8D8D8;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    font-size: 12px;
    margin-right: 3px;
    display: inline-block;
    padding: 0 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}


/*返回顶部*/

.back_to_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    /*border:1px solid #888;*/
    display: none;
    z-index: 99999;
    font-size: 30px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Safari and Chrome */
}


/*更多信息页面*/

.i-category {
    position: fixed;
    top: 120px;
    right: 5px;
    z-index: 99999;
    opacity: .5;
    font-size: 32px;
}

.categorys {
    margin: 0 2%;
    line-height: 25px;
}

.categorys > a {
    width: 24%;
    display: inline-block;
}


/*暂时demo*/

.modales {
    margin: 15px 10px;
}

.modales p {
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
}

.netaddr {
    color: #FF1A1A;
    font-size: 16px;
    font-weight: bold;
}

.netaddr input {
    width: 170px;
    line-height: 32px;
    border: 1px solid #FF1A1A;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 8px;
    vertical-align: middle;
}

.netaddr button {
    width: 80px;
    color: #fff;
    background-color: #FF1A1A;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    vertical-align: middle;
}
