body {
  position: relative;
    background-color: #f0f3f4;
    /*overflow: hidden;*/
    font-size: 16px;
}

body,
img,
ul,
ol,
li,
dl,
dt,
dd,
form,
input,
button,
tt,
select,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: 0;
    font-family: "Microsoft YaHei";
}

@media screen and (min-width:320px) {
    html {
        font-size: 21.33px
    }
    body {
        font-size: 12px
    }
}

@media screen and (min-width:360px) {
    html {
        font-size: 24px
    }
    body {
        font-size: 12px
    }
}

@media screen and (min-width:375px) {
    html {
        font-size: 25px
    }
    body {
        font-size: 12px
    }
}

@media screen and (min-width:384px) {
    html {
        font-size: 25.6px
    }
    body {
        font-size: 14px
    }
}

@media screen and (min-width:400px) {
    html {
        font-size: 26.67px
    }
    body {
        font-size: 14px
    }
}

@media screen and (min-width:414px) {
    html {
        font-size: 27.6px
    }
    body {
        font-size: 14px
    }
}

@media screen and (min-width:424px) {
    html {
        font-size: 28.27px
    }
    body {
        font-size: 14px
    }
}

@media screen and (min-width:480px) {
    html {
        font-size: 32px
    }
    body {
        font-size: 15.36px
    }
}

@media screen and (min-width:540px) {
    html {
        font-size: 36px
    }
    body {
        font-size: 17.28px
    }
}

@media screen and (min-width:720px) {
    html {
        font-size: 48px
    }
    body {
        font-size: 23.04px
    }
}

@media screen and (min-width:750px) {
    html {
        font-size: 50px
    }
    body {
        font-size: 24px
    }
}

button {
  line-height: 34px;
  height: 34px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
}

p {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

.tleft {
    text-align: left;
}

.tcenter {
    text-align: center;
}

.tright {
    text-align: right;
}

.curp {
    cursor: pointer;
}

.vish {
    visibility: hidden;
}

.mR5 {
  margin-right: 5px;
}

.mR10 {
  margin-right: 10px;
}

.mB5 {
  margin-bottom: 5px;
}

.mB10 {
  margin-bottom: 10px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.f24 {
  font-size: 24px;
}

.f26 {
  font-size: 26px;
}

.f30 {
  font-size: 30px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:active,
a:hover,
a:focus {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}


/*顶部导航栏*/

.navTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #DBCCC5;
    color: #55402F;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    z-index: 99999;
}

.navTop .leftBtn {
    position: absolute;
    top: 5px;
    left: 15px;
    line-height: 34px;
}

.navTop .rightBtn {
    position: absolute;
    top: 5px;
    right: 15px;
    line-height: 34px;
}

.navTop .ctitle {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #55402F;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-top: 1px solid #DBCCC5;
  background-color: #E8DED9;
}

.navBottom .items {
  width: 32%;
  vertical-align: middle;
  padding: 2px 0;
  display: inline-block;
}

.navBottom .items.active {
  color: #FD6146;
}

.navBottom .iconfont {
  display: block;
  font-size: 22px;
  line-height: 24px;
}

.navBottom .icon-name {
  display: block;
  line-height: 16px;
}

.navBottom .icon-jiahao {
  font-size: 50px;
  font-weight: bold;
  line-height: 40px;
  color: #FF874D;
}

.acontainer {
  position: relative;
  border-top: 50px solid transparent;
  border-bottom: 100px solid transparent;
  height: 100%;
  overflow: hidden;
  /*overflow-y: scroll;*/
}

/*滚动条*/
::-webkit-scrollbar-track {
  background-color: #F5F5F5
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #999
}

.footer {
  position: absolute;
  left: 0;
  bottom: 50px;
  text-align: center;
  color: #55402F;
  height: 30px;
  line-height: 30px;
  width: 100%;
}